@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-black: #303030;
  --black: #000;
  --white: #fff;
  --primary-blue: #0c70f2;
  --hover-blue: #0b64d8;
  --primary-gray: #bababa;
  --secondary-gray: #ccc;
  --fonte-padrao: 'Inter';
}
/* ======== GRADIENT ======== */
body {
  background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), var(--primary-black);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

#principal{
  width: 100%;
  height: 100px;
  background-color: var(--primary-black);
  font-family: var(--fonte-padrao);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-gray);
}

#menu a{
  color: var(--white);
  font-size: 25px;
  font-weight: 600;
}
#menu a:hover{
  color: var(--secondary-gray);
}

/* ----------- POSICIONAMENTO ----------- */
#menu {
  display: flex;
  width: 45%;
  justify-content: space-around;
  align-items: center;
  margin-left: 5%;
  }

  #principal button{
    height: 40px;
    padding: 10px 20px;
    margin-right: 5%;
    align-self: center;
    cursor: pointer;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
  }

  #principal button:hover{
    background-color: var(--hover-blue);
  }

/* ----------- HEADER ----------- */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

header {
  color: var(--white);
  font-family: var(--fonte-padrao);
}

header h1 {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

header h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 100px;
}

header .invert {
  background-color: var(--black);
  padding: 5px;
}

/* ----------- FORM ----------- */
form {
  color: var(--white);
  font-family: var(--fonte-padrao);
  font-size: 20px;
  font-weight: 600;
  width: 600px;
}

form .form-group {
  display: flex;
  flex-direction: column;

  margin: 10px 0;
}

form .form-group input {
  border-radius: 8px;
  border: none;
  height: 35px;
  /* margin-top: 5px; */
  padding: 0 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9);
}

form .form-group label {
  margin: 5px 0;
}

form input::placeholder {
  color: rgba(57, 57, 57, 0.5);
}

form .checkbox-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form .checkbox-items label {
  font-size: 20px;
}

form input[type="checkbox"] {
  transform: scale(1.7);
}

form input[type="submit"] {
  background-color: var(--primary-blue);
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 8px;
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  margin: 50px 0;
  box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
}

form input[type="submit"]:hover{
  background-color: var(--hover-blue);
}
