@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-black: #303030;
  --white: #fff;
  --primary-blue: #0c70f2;
  --primary-gray: #bababa;
  --secondary-gray: #ccc;
}
/* ======== GRADIENT ======== */
body {
  background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), var(--primary-black);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

#principal{
  width: 100%;
  height: 100px;
  background-color: var(--primary-black);
  font-family: 'Inter';
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-gray);
}

#menu a{
  color: var(--white);
  font-size: 25px;
  font-weight: 600;
}
#menu a:hover{
  color: var(--secondary-gray);
}

/* ----------- POSICIONAMENTO ----------- */
#menu {
  display: flex;
  width: 45%;
  justify-content: space-around;
  align-items: center;
  margin-left: 5%;
  }

  #principal button{
    height: 40px;
    padding: 10px 20px;
    margin-right: 5%;
    align-self: center;
    cursor: pointer;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
  }

/* --------------------------------------- */
